In [2]:
import pandas as pd

In [5]:
res_hr = pd.read_csv('../results/hr/from_scratch_bleu_scores.csv')
# combine as strings bleu_mean rounded to 2 decimals +- bleu_std rounded to 2 decimals
res_hr['bleu'] = res_hr['bleu_mean'].round(2).astype(str) + ' +- ' + res_hr['bleu_std'].round(2).astype(str)
# pivot
res_hr = res_hr.pivot(index='model', columns='test_file', values='bleu')
res_hr

test_file                     MaCoCu      floresdev  floresdevtest
model
baseline                 19.9 +- 0.0  18.03 +- 0.15  18.67 +- 0.21
genre_aware            19.93 +- 0.15  18.03 +- 0.15  18.43 +- 0.12
genre_aware_token        20.0 +- 0.0   17.8 +- 0.26  18.17 +- 0.25
tok_baseline           19.93 +- 0.12   18.23 +- 0.4  18.27 +- 0.21
tok_genre_aware        19.93 +- 0.06  18.03 +- 0.21   18.5 +- 0.26
tok_genre_aware_token  19.13 +- 0.21  17.37 +- 0.35  17.77 +- 0.06

In [4]:
res_hr = pd.read_csv('../results/hr/from_scratch_comet_scores.csv')
# combine as strings comet_mean * 100 rounded to 2 decimals +- comet_std rounded to 2 decimals * 100
res_hr['comet'] = (res_hr['comet_mean']*100).round(2).astype(str) + ' +- ' + (res_hr['comet_std']*100).round(2).astype(str)
# pivot
res_hr = res_hr.pivot(index='model', columns='test_file', values='comet')
res_hr

test_file                     MaCoCu      floresdev  floresdevtest
model
baseline               77.35 +- 0.04  74.27 +- 0.07  74.25 +- 0.37
genre_aware             77.29 +- nan   74.4 +- 0.29   74.48 +- 0.1
genre_aware_token      77.17 +- 0.04  74.49 +- 0.27  74.36 +- 0.21
tok_baseline           77.44 +- 0.11  74.18 +- 0.21   74.06 +- 0.3
tok_genre_aware                  NaN  73.78 +- 0.16  73.73 +- 0.18
tok_genre_aware_token            NaN  72.39 +- 0.35   72.13 +- 0.3

In [34]:
res_hr = pd.read_csv('../results/hr/from_scratch_comet_scores_per_genre.csv')
# only keep models baseline and genre_aware_token
# res_hr = res_hr[res_hr['model'].isin(['baseline', 'genre_aware_token'])]
# only keep results on MaCoCu
res_hr = res_hr[res_hr['test_file'] == 'MaCoCu']
# aggregate over genres test files and models
# comet_mean * 100
res_hr['comet_mean'] = res_hr['comet_mean']*100
res_hr = res_hr.groupby(['model', 'genre', 'test_file']).agg({'comet_mean': ['mean', 'std']})
# drop level 1 of multiindex
res_hr.columns = res_hr.columns.droplevel(0)
#reste index
res_hr = res_hr.reset_index()
# combine as strings comet_mean * 100 rounded to 2 decimals +- comet_std rounded to 2 decimals * 100
res_hr['comet'] = (res_hr['mean']).round(2).astype(str) + ' +- ' + (res_hr['std']).round(2).astype(str)
# pivot
res_hr = res_hr.pivot(index='model', columns='genre', values='comet')
res_hr

genre,Forum,Information/Explanation,Instruction,Legal,News,Opinion/Argumentation,Promotion,Prose/Lyrical
model,,,,,,,,
baseline,76.8 +- 0.22,81.54 +- 0.15,80.56 +- 0.22,85.26 +- 0.25,81.56 +- 0.07,74.11 +- 0.17,83.63 +- 0.08,57.87 +- 0.06
genre_aware,77.43 +- nan,81.43 +- nan,80.16 +- nan,85.05 +- nan,81.52 +- nan,74.19 +- nan,83.63 +- nan,57.9 +- nan
genre_aware_token,76.95 +- 0.02,81.2 +- 0.18,80.1 +- 0.06,85.02 +- 0.22,81.41 +- 0.13,74.13 +- 0.05,83.49 +- 0.17,57.89 +- 0.06
tok_baseline,76.77 +- 0.36,81.93 +- 0.08,80.83 +- 0.12,85.36 +- 0.22,81.69 +- 0.03,73.8 +- 0.25,83.59 +- 0.11,57.91 +- 0.22

In [44]:
res_hr = pd.read_csv('../results/hr/from_scratch_comet_scores_per_genre.csv')
# res_hr where model is genre_aware_token and test_file is MaCoCu
res_hr[(res_hr['model']=='genre_aware') & (res_hr['test_file']=='MaCoCu')]['seed'].unique()

array([3])