In [2]:
import pandas as pd

In [3]:
res_hr = pd.read_csv('../results/hr/from_scratch_bleu_scores.csv')
# combine as strings bleu_mean rounded to 2 decimals +- bleu_std rounded to 2 decimals
res_hr['bleu'] = res_hr['bleu_mean'].round(2).astype(str) + ' +- ' + res_hr['bleu_std'].round(2).astype(str)
# pivot
res_hr = res_hr.pivot(index='model', columns='test_file', values='bleu')
res_hr

test_file,MaCoCu,floresdev,floresdevtest,wmttest2022
model,,,,
baseline,19.9 +- 0.0,18.03 +- 0.15,18.67 +- 0.21,14.0 +- 0.1
genre_aware,19.93 +- 0.15,18.03 +- 0.15,18.43 +- 0.12,13.97 +- 0.21
genre_aware_token,20.0 +- 0.0,17.8 +- 0.26,18.17 +- 0.25,14.07 +- 0.06
tok_baseline,19.93 +- 0.12,18.23 +- 0.4,18.27 +- 0.21,14.07 +- 0.21
tok_genre_aware,19.93 +- 0.06,18.03 +- 0.21,18.5 +- 0.26,14.0 +- 0.0
tok_genre_aware_token,19.13 +- 0.21,17.37 +- 0.35,17.77 +- 0.06,13.27 +- 0.12

In [4]:
res_hr = pd.read_csv('../results/hr/from_scratch_comet_scores.csv')
# combine as strings comet_mean * 100 rounded to 2 decimals +- comet_std rounded to 2 decimals * 100
res_hr['comet'] = (res_hr['comet_mean']*100).round(2).astype(str) + ' +- ' + (res_hr['comet_std']*100).round(2).astype(str)
# pivot
res_hr = res_hr.pivot(index='model', columns='test_file', values='comet')
res_hr

test_file,MaCoCu,floresdev,floresdevtest,wmttest2022
model,,,,
baseline,77.35 +- 0.04,74.27 +- 0.07,74.25 +- 0.37,67.66 +- 0.28
genre_aware,77.15 +- 0.12,74.4 +- 0.29,74.48 +- 0.1,67.43 +- 0.17
genre_aware_token,77.17 +- 0.04,74.49 +- 0.27,74.36 +- 0.21,67.47 +- 0.11
tok_baseline,77.44 +- 0.11,74.18 +- 0.21,74.06 +- 0.3,67.37 +- 0.06
tok_genre_aware,77.15 +- 0.09,73.78 +- 0.16,73.73 +- 0.18,67.07 +- 0.16
tok_genre_aware_token,75.38 +- 0.23,72.39 +- 0.35,72.13 +- 0.3,64.71 +- 0.09

In [35]:
res_hr = pd.read_csv('../results/hr/from_scratch_comet_scores_per_genre.csv')
# only keep models baseline and genre_aware_token
# res_hr = res_hr[res_hr['model'].isin(['baseline', 'genre_aware_token'])]
# only keep results on MaCoCu
res_hr = res_hr[res_hr['test_file'] == 'wmttest2022']
# aggregate over genres test files and models
# comet_mean * 100
res_hr['comet_mean'] = res_hr['comet_mean']*100
res_hr = res_hr.groupby(['model', 'genre', 'test_file']).agg({'comet_mean': ['mean', 'std']})
# drop level 1 of multiindex
res_hr.columns = res_hr.columns.droplevel(0)
#reste index
res_hr = res_hr.reset_index()
# combine as strings comet_mean * 100 rounded to 2 decimals +- comet_std rounded to 2 decimals * 100
res_hr['comet'] = (res_hr['mean']).round(2).astype(str) + ' +- ' + (res_hr['std']).round(2).astype(str)
# pivot
res_hr = res_hr.pivot(index='model', columns='genre', values='comet')
res_hr

genre,Forum,Information/Explanation,Instruction,News,Opinion/Argumentation,Other,Promotion
model,,,,,,,
baseline,70.32 +- 0.23,70.71 +- 2.22,69.69 +- 0.57,63.89 +- 0.3,69.76 +- 0.26,74.48 +- 0.41,69.42 +- 0.91
genre_aware,69.82 +- 0.53,67.73 +- 1.92,69.39 +- 0.55,63.94 +- 0.17,69.35 +- 0.11,74.5 +- 0.93,69.48 +- 0.32
genre_aware_token,69.6 +- 0.35,69.44 +- 2.64,69.95 +- 0.4,63.95 +- 0.07,69.66 +- 0.64,68.26 +- 3.17,69.68 +- 1.09
tok_baseline,70.01 +- 0.37,67.45 +- 1.15,70.3 +- 0.24,63.23 +- 0.25,69.92 +- 0.19,74.01 +- 3.24,68.85 +- 0.48
tok_genre_aware,69.97 +- 0.19,64.27 +- 0.69,69.66 +- 0.4,62.86 +- 0.28,69.67 +- 0.1,74.46 +- 1.57,68.36 +- 0.29
tok_genre_aware_token,66.9 +- 0.13,63.53 +- 1.92,66.8 +- 1.49,61.43 +- 0.26,66.5 +- 0.17,73.46 +- 1.12,66.58 +- 0.42

In [36]:
# fine-tuning results
res_hr = pd.read_csv('../results/hr/fine_tune_bleu_scores.csv')
# combine as strings bleu_mean rounded to 2 decimals +- bleu_std rounded to 2 decimals
res_hr['bleu'] = res_hr['bleu_mean'].round(2).astype(str) + ' +- ' + res_hr['bleu_std'].round(2).astype(str)
# pivot
res_hr = res_hr.pivot(index='model', columns='test_file', values='bleu')
res_hr

test_file,MaCoCu,floresdev,floresdevtest,wmttest2022
model,,,,
baseline_arg,17.9 +- 0.0,NaN,NaN,NaN
baseline_info,18.0 +- 0.0,16.27 +- 0.31,16.8 +- 0.3,11.87 +- 0.23
baseline_law,15.07 +- 0.06,12.2 +- 0.26,12.67 +- 0.25,8.5 +- 0.2
baseline_news,18.03 +- 0.12,16.4 +- 0.26,17.23 +- 0.06,13.07 +- 0.21
baseline_opus_arg,23.3 +- 0.0,NaN,NaN,NaN
baseline_opus_info,23.63 +- 0.06,24.4 +- 0.1,24.47 +- 0.21,20.47 +- 0.06
baseline_opus_law,20.4 +- 0.0,19.77 +- 0.49,20.0 +- 0.36,16.2 +- 0.1
baseline_opus_news,23.47 +- 0.06,24.27 +- 0.15,24.13 +- 0.15,21.13 +- 0.12
baseline_opus_promo,23.3 +- 0.1,22.93 +- 0.23,22.77 +- 0.12,19.03 +- 0.32
baseline_opus_random,24.6 +- 0.0,25.17 +- 0.21,25.2 +- 0.26,21.37 +- 0.15
baseline_promo,17.85 +- 0.07,15.1 +- 0.2,15.7 +- 0.2,11.37 +- 0.23
baseline_random,19.05 +- 0.07,17.03 +- 0.15,17.23 +- 0.35,12.83 +- 0.06
genre_aware_token_law,14.83 +- 0.06,NaN,NaN,NaN
genre_aware_token_news,17.53 +- 0.06,NaN,NaN,NaN
genre_aware_token_opus_law,20.3 +- 0.26,NaN,NaN,NaN
genre_aware_token_opus_news,23.45 +- 0.07,NaN,NaN,NaN

In [37]:
dat = pd.read_csv('../results/hr/fine_tune_eval_scores.csv')

In [41]:
dat[dat['model']=='baseline_arg_3']

Empty DataFrame
Columns: [model, test_file, bleu, comet]
Index: []